<center><h1>Your Stylist :: <%= @stylist.name() %></h1>
<h2>Phone Number: <%= @stylist.phone() %></h2>
<div class="container">
  <p><a href="/stylists/<%= @stylist.id() %>/edit"><button class="btn-warning">Edit <%= @stylist.name() %>'s' information</button></a></p>
</center>
<hr>

<% if @stylist.clients().any?() %>
<h3>Here are all the clients for this stylist:
<br>

<ul>
  <% @stylist.clients().each() do |client| %>
  <li><%= client.name() %> :: <%= client.phone() %></li>
  <% end %>
</ul>
</h3>

<% else %>
<h2><p>There are no clients for this stylist!</p></h2>
<% end %>

<h3>Enter in their name and number below:<br>

<form action="/clients" method="post">
  <input id="client_id" name="client_id" type="hidden" value="<%= @stylist.id() %>">

  <input id="name" name="name" type="text" placeholder="i.e. Maximillian Victorius III">
  <input id="phone" name="phone" type="text" placeholder="i.e. 8082225555">

  <button type="submit">Add client</button>
</form>

</h3>
<br>

<hr>
<center>
  <a href="/"><button class="btn-danger">Home</button></a>
  <a href="/stylists"><button class="btn-danger">View All Stylists</button></a>
  <a href="/stylists/new"><button class="btn-danger">Add New Stylist</button></a>
  </div>
</center>
